@{
    ViewBag.Title = "About";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">"Welcome to UrbanRider! We are your convenient and reliable solution for hassle-free cab bookings. With our user-friendly interface and seamless navigation, booking a ride has never been easier. Enjoy comfortable rides with our professional drivers, quick response times, and affordable fares. Whether you're commuting, traveling, or exploring a new city, UrbanRider is your trusted companion. Sit back, relax, and let us take you where you need to go!"</p>
    </div>
</div>